.tablero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: rgb(206, 229, 236);
  width: 1024px;
}

.carta {
  width: 230px;
  height: 230px;
  background-color: lightblue;
  border-radius: 10px;
}
